<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit user</title>
</head>
<body>
    <p>chat id is:<b><%=chat._id%></b> and the message is sended by <b><%=chat.from%></b> and receieved by <b><%=chat.to%></b></p> <br> 
    <form method="post" action="/chats/<%=chat._id%>?_method=put">
        <textarea name="msg" id="msg"><%=chat.msg%></textarea>
        <br>
        <button>edit</button> 
    </form>
   
</body>
</html>