<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhatsApp</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>WhatsApp All Chats</h1>
        <form method="get" action="/chats/newuser">
            <button>create user</button>
        </form>
    <% for (let chat of chats)  { %>
        <div class="chat">
            <p>From: <%= chat.from %></p>
            <div class="Message">
                <p>Message: <%= chat.msg %></p>
            </div>
            <p>Received by: <%= chat.to %></p>
            <p>Time:<%=chat.created_at.toString().split(" ")[4]%></p>
            <p>Date:<%=chat.created_at.toString().split(" ").slice(0,4).join(" ")%></p>
            <form method="get" action="/chats/<%=chat._id%>/edit">
                <button>Edit</button>
            </form>
            <br>
            <form method="post" action="/chats/<%=chat._id%>?_method=delete">
                <button>delete</button>
            </form>
        </div>
    <% } %>

</body>

</html>
